<div data-id="{{ block.id }}">
  {%- if block.settings.heading -%}
    <h2>{{ block.settings.heading }}</h2>
  {%- endif -%}
  {%- if block.settings.description -%}
    <p>{{ block.settings.description }}</p>
  {%- endif -%}
  <input type="file" class="image_drag_drop_wrapper"/>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Handling canvas background image upload
    jQuery(".image_drag_drop_wrapper").fileinput({
      'overwriteInitial': true,
      'maxFileSize': 15000,
      'showClose': false,
      'showCaption': false,
      'showUpload':false,
      'previewFileType':'any',
      'allowedFileTypes': ['image']
    })
    .on('fileloaded', function(event, file, previewId, fileId, index, reader) {
      reader.readAsDataURL(file)
      reader.onload = function() {
        let fileContent = reader.result;
        console.log(fileContent)
      }
      reader.onerror = function() {
        console.log(reader.error);
      }
    })
    .on('fileclear', function(event) {
      console.log("file cleared")
    })
  })
</script>


{% schema %}
  {
    "name": "User File Uploader",
    "target": "section",
    "stylesheet": "app-block.css",
    "javascript": "app-block-js-files.js",
    "class": "user_file_uploader_wrapper",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Cute Puppy Gallery"
      },
      {
        "type": "text",
        "id": "description",
        "label": "Description",
        "default": "A simple app block that shows a grid of images that can be customized by the merchant. Each image can be selected to show a popup with the full-sized image."
      }
    ]
  }
{% endschema %}
